<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd1ZmZuaWVvd2Jna2lsd2Nqa2tzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDkwOTUxNTUsImV4cCI6MjA2NDY3MTE1NX0.dPAZ6KKRWN-roAQ3rS6ASqUPPJws0qLDSP0_KdGyhO8</string>
</dict>
</plist>
